<div class="wrapper">


    <form [formGroup]="noteForm" class="example-form" >
      <div>

        <mat-form-field class="example-full-width" appearance="fill">
          <input matInput formControlName="title" placeholder="title">
        </mat-form-field>
      </div>
      <div>

        <mat-form-field class="example-full-width" appearance="fill" >
          <textarea  matInput formControlName="description" placeholder="write your note"></textarea>
        </mat-form-field>
      </div>
    </form>


      <button mat-flat-button color="primary"
      [disabled]="!noteForm.valid" >
      save note
    </button>

</div>
